{% if oView.isAjax() %}
    {% if oView.hasExampleCalculation() %}
        <div id="{{ oView.getViewParameter('placeholderId') }}" class="easycredit-widget">
            <span class="easycredit-suffix">{{ translate({ ident: "OXPS_EASY_CREDIT_FINANCE_FROM" }) }}</span>
            <span class="easycredit-rate">{{ oView.getExampleCalculationRate() }} € / Monat</span>
            <br>
            <a class="easycredit-link">{{ translate({ ident: "OXPS_EASY_CREDIT_MORE_INFO" }) }}</a>
        </div>

        <div id="easycredit-example-dialog" title="{{ translate({ ident: "OXPS_EASY_CREDIT_EXAMPLE_DIALOG_TITLE" }) }}">
        </div>
    {% endif %}
{% else %}
    {{ style({ include: oViewConf.getModuleUrl('osceasycredit', 'css/oxpseasycredit_style.css'), priority: 10 }) }}
    {% if oView.getUseOwnjQueryUI() %}
        {{ style({ include: oViewConf.getModuleUrl('osceasycredit', 'css/base/jquery-ui.css'), priority: 9 }) }}
        {{ script({ include: oViewConf.getModuleUrl('osceasycredit', 'css/base/jquery-ui.js'), priority: 9, dynamic: __oxid_include_dynamic }) }}
    {% endif %}

    <div id="{{ oView.getViewParameter('placeholderId') }}"></div>
    <script>
    {% capture assign = "pageScript" %}
        document.addEventListener('DOMContentLoaded', function(){
            function openExampleCalculationDialog (easyCreditPopupUrl) {
                fetch('{{ oView.getPopupAjaxUrl()|raw }}', function (data) {
                    document.getElementById("easycredit-example-dialog").innerHTML = data;

                    document.getElementById("easycredit-example-dialog").dialog({
                        close: true,
                        modal: true,
                        width: 570,
                        height: 786
                    });
                })
            }

            fetch('{{ oView.getAjaxUrl()|raw }}').then(data => {
                document.getElementById('{{ oView.getViewParameter('placeholderId') }}').innerHTML = data.text();
                document.getElementById('{{ oView.getViewParameter('placeholderId') }}').on('click', '.easycredit-link', openExampleCalculationDialog);
            })
        });
    {% endcapture %}
    </script>
    {{ script({ add: pageScript, dynamic: __oxid_include_dynamic }) }}
{% endif %}